Source/ToracLibrary.Core/Resources/CountriesSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Country">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="shortname" type="xs:string" use="required" />
            <xs:attribute name="longname" type="xs:string" use="required" />
            <xs:attribute name="iso2" type="xs:string" use="required" />
            <xs:attribute name="irs2" type="xs:string" use="required" />
            <xs:attribute name="iso3char" type="xs:string" use="required" />
            <xs:attribute name="iso3digit" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>